@page
@model WebApp.Pages_Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Load Game</h1>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].CreatedAtDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].UpdatedAtDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Players)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAtDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAtDt)
            </td>
            <td>
                @string.Join(", ", item.Players!.Select(p => p.Name))
            </td>
            <td>
                <a asp-page="/Players/Index" asp-route-gameId="@item.Id">Load</a>
            </td>
        <td> <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
</td>
        </tr>
}
    </tbody>
</table>
